@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

* {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: rgb(0, 121, 191) !important;
}
